.error-gradient[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}
.error-gradient-ghost[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}
.success-gradient-border[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}
.success-gradient-border-ghost[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}
.primary-gradient-border[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}
.primary-gradient-border-ghost[data-v-4176f7f2] {
  --gradient-stroke-outline: black;
}